#map {
  height: 100%;
  width: 75%;
  right:0px;
}


.map {
  height: 100%;
  width:100%;
  position: absolute;
  display: flex;
  flex-direction: row;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.sidemenu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  background-color: #000;
}


.sidemenu button {
  border: 2px solid #990000;
  width: 85%;
  align-self: center;
  border-radius: 20px;
}


.search {
  display: flex;
  width: 95%;
  height: 40px;
  margin-top: 10px;
}


input {
  width: inherit;
  border: 2px solid #990000;
  font: 16px Arial;
  padding: 10px;
  border-radius: 20px;
}


ul {
  list-style: none;
  left: 0px;
  align-self: left;
  width:inherit;
}

@media screen and (max-width: 800px) {

  .sidemenu {
    height: 300px;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    justify-content: flex-start;
  }


  .sidemenu button {
    align-self: center;
  }


  .search {
    align-self: center;
    width: 90%;
    height: 40px;
    justify-content: space-around;
    top: 0px;
  }

  .ListView {
    text-align: left;
    color:#fff;
    align-items: left;
    font: 16px Arial;
  }

  .ListView ul {
    list-style: none;
    left: 0px;
    align-self: left;
    width:inherit;
  }

  .MapContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #map {
    height: 75%;
    width:100%;
  }

}
